Before we get started, a couple of reminders to keep in mind when using iPython notebooks:

- Remember that you can see from the left side of a code cell when it was last run if there is a number within the brackets.
- When you start a new notebook session, make sure you run all of the cells up to the point where you last left off. Even if the output is still visible from when you ran the cells in your previous session, the kernel starts in a fresh state so you'll need to reload the data, etc. on a new session.
- The previous point is useful to keep in mind if your answers do not match what is expected in the lesson's quizzes. Try reloading the data and run all of the processing steps one by one in order to make sure that you are working with the same variables and data that are at each quiz stage.


## Load Data from CSVs

In [1]:
import unicodecsv

## Longer version of code (replaced with shorter, equivalent version below)

# enrollments = []
# f = open('enrollments.csv', 'rb')
# reader = unicodecsv.DictReader(f)
# for row in reader:
#     enrollments.append(row)
# f.close()

def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

enrollments = read_csv('enrollments.csv')

In [2]:
#####################################
#                 1                 #
#####################################

## Read in the data from daily_engagement.csv and project_submissions.csv 
## and store the results in the below variables.
## Then look at the first row of each table.

daily_engagement = read_csv('daily_engagement.csv')
project_submissions = read_csv('project_submissions.csv')

## Fixing Data Types

In [3]:
from datetime import datetime as dt

# Takes a date as a string, and returns a Python datetime object. 
# If there is no date given, returns None
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d')
    
# Takes a string which is either an empty string or represents an integer,
# and returns an int or None.
def parse_maybe_int(i):
    if i == '':
        return None
    else:
        return int(i)

# Clean up the data types in the enrollments table
for enrollment in enrollments:
    enrollment['cancel_date'] = parse_date(enrollment['cancel_date'])
    enrollment['days_to_cancel'] = parse_maybe_int(enrollment['days_to_cancel'])
    enrollment['is_canceled'] = enrollment['is_canceled'] == 'True'
    enrollment['is_udacity'] = enrollment['is_udacity'] == 'True'
    enrollment['join_date'] = parse_date(enrollment['join_date'])
    
enrollments[0]

{u'account_key': u'448',
 u'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
 u'days_to_cancel': 65,
 u'is_canceled': True,
 u'is_udacity': True,
 u'join_date': datetime.datetime(2014, 11, 10, 0, 0),
 u'status': u'canceled'}

In [4]:
# Clean up the data types in the engagement table
for engagement_record in daily_engagement:
    engagement_record['lessons_completed'] = int(float(engagement_record['lessons_completed']))
    engagement_record['num_courses_visited'] = int(float(engagement_record['num_courses_visited']))
    engagement_record['projects_completed'] = int(float(engagement_record['projects_completed']))
    engagement_record['total_minutes_visited'] = float(engagement_record['total_minutes_visited'])
    engagement_record['utc_date'] = parse_date(engagement_record['utc_date'])
    
daily_engagement[0]

{u'acct': u'0',
 u'lessons_completed': 0,
 u'num_courses_visited': 1,
 u'projects_completed': 0,
 u'total_minutes_visited': 11.6793745,
 u'utc_date': datetime.datetime(2015, 1, 9, 0, 0)}

In [5]:
# Clean up the data types in the submissions table
for submission in project_submissions:
    submission['completion_date'] = parse_date(submission['completion_date'])
    submission['creation_date'] = parse_date(submission['creation_date'])

project_submissions[0]

{u'account_key': u'256',
 u'assigned_rating': u'UNGRADED',
 u'completion_date': datetime.datetime(2015, 1, 16, 0, 0),
 u'creation_date': datetime.datetime(2015, 1, 14, 0, 0),
 u'lesson_key': u'3176718735',
 u'processing_state': u'EVALUATED'}

Note when running the above cells that we are actively changing the contents of our data variables. If you try to run these cells multiple times in the same session, an error will occur.

## Investigating the Data

In [6]:
#####################################
#                 2                 #
#####################################

## Find the total number of rows and the number of unique students (account keys)
## in each table.
import pandas as pd

enrollments_pd = pd.read_csv('enrollments.csv')
daily_engagement_pd = pd.read_csv('daily_engagement.csv')
project_submissions_pd = pd.read_csv('project_submissions.csv')

print "number of total entries in enrollments: ",enrollments_pd['account_key'].size
print "number of unique students in enrollments: ",enrollments_pd['account_key'].unique().size

print "number of total entries in engagements: ",daily_engagement_pd['acct'].size
print "number of unique students in engagements: ",daily_engagement_pd['acct'].unique().size

print "number of total entries in project submissions: ",project_submissions_pd['account_key'].size
print "number of unique students in project submissions: ",project_submissions_pd['account_key'].unique().size

number of total entries in enrollments:  1640
number of unique students in enrollments:  1302
number of total entries in engagements:  136240
number of unique students in engagements:  1237
number of total entries in project submissions:  3642
number of unique students in project submissions:  743

## Problems in the Data

In [7]:
#####################################
#                 3                 #
#####################################

## Rename the "acct" column in the daily_engagement table to "account_key".

daily_engagement_pd.rename(columns={'acct':'account_key'}, inplace = True)
daily_engagement_pd[:15]

,account_key,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1.0,11.679374,0.0,0.0
1,0,2015-01-10,2.0,37.284887,0.0,0.0
2,0,2015-01-11,2.0,53.633746,0.0,0.0
3,0,2015-01-12,1.0,33.489270,0.0,0.0
4,0,2015-01-13,1.0,64.779678,0.0,0.0
5,0,2015-01-14,1.0,151.617577,1.0,0.0
6,0,2015-01-15,1.0,142.395964,0.0,0.0
7,0,2015-01-16,0.0,0.000000,0.0,0.0
8,0,2015-01-17,1.0,9.849562,0.0,0.0
9,0,2015-01-18,1.0,38.330548,0.0,0.0
10,0,2015-01-19,1.0,98.327568,1.0,0.0
11,0,2015-01-20,0.0,0.000000,0.0,0.0
12,0,2015-01-21,0.0,0.000000,0.0,0.0
13,0,2015-01-22,1.0,218.309690,1.0,0.0
14,0,2015-01-23,1.0,280.773319,1.0,0.0

## Missing Engagement Records

In [8]:
#####################################
#                 4                 #
#####################################

## Find any one student enrollments where the student is missing from the daily engagement table.
## Output that enrollment.

#create new field for students without enganement in the enrollment table
import numpy as np
enrollments_pd['has_engagment'] = np.in1d(enrollments_pd['account_key'], daily_engagement_pd['account_key'].unique())

#create new list with only the students without engagment, print the list of students that didn't cancel right away
enrollments_without_engagments = enrollments_pd[enrollments_pd['has_engagment'] == False]
enrollments_without_engagments[enrollments_without_engagments['days_to_cancel'] != 0]

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled,has_engagment
467,1304,canceled,2015-01-10,2015-03-10,59.0,True,True,False
468,1304,canceled,2015-03-10,2015-06-17,99.0,True,True,False
1378,1101,current,2015-02-25,NaN,NaN,True,False,False

In [9]:
#from glue import qglue
#qglue(enga=daily_engagement_pd, enro=enrollments_pd)

## Checking for More Problem Records

In [10]:
#####################################
#                 5                 #
#####################################

## Find the number of surprising data points (enrollments missing from
## the engagement table) that remain, if any.
print "number of students without engagement: ", enrollments_without_engagments['account_key'].size

number of students without engagement:  71

## Tracking Down the Remaining Problems

In [11]:
# Create a set of the account keys for all Udacity test accounts
#udacity_test_accounts = set()
#for enrollment in enrollments:
#    if enrollment['is_udacity']:
#        udacity_test_accounts.add(enrollment['account_key'])
#len(udacity_test_accounts)

udacity_test_accounts = enrollments_pd[enrollments_pd['is_udacity'] == True]
udacity_test_accounts

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled,has_engagment
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True,True
4,448,current,2015-03-10,NaN,NaN,True,False,True
5,448,canceled,2015-01-14,2015-01-27,13.0,True,True,True
6,448,canceled,2015-01-27,2015-03-10,42.0,True,True,True
7,448,canceled,2015-01-27,2015-01-27,0.0,True,True,True
8,448,canceled,2015-01-27,2015-01-27,0.0,True,True,True
467,1304,canceled,2015-01-10,2015-03-10,59.0,True,True,False
468,1304,canceled,2015-03-10,2015-06-17,99.0,True,True,False
613,312,canceled,2014-11-10,2015-03-10,120.0,True,True,True
614,312,canceled,2015-03-10,2015-04-01,22.0,True,True,True
615,312,canceled,2015-04-01,2015-07-02,92.0,True,True,True
616,312,current,2015-07-08,NaN,NaN,True,False,True
717,818,canceled,2015-01-07,2015-01-12,5.0,True,True,True
1036,1069,canceled,2015-06-01,2015-06-01,0.0,True,True,False
1378,1101,current,2015-02-25,NaN,NaN,True,False,False

In [12]:
# Given some data with an account_key field, removes any records corresponding to Udacity test accounts
#def remove_udacity_accounts(data):
 #   non_udacity_data = []
 #   for data_point in data:
 #       if data_point['account_key'] not in udacity_test_accounts:
 #           non_udacity_data.append(data_point)
#    return non_udacity_data

In [13]:
# Remove Udacity test accounts from all three tables


#non_udacity_enrollments = remove_udacity_accounts(enrollments)
non_udacity_enrollments = enrollments_pd[enrollments_pd['is_udacity'] == False]

non_udacity_account_keys = non_udacity_enrollments['account_key'].unique()

#non_udacity_engagement = remove_udacity_accounts(daily_engagement)
non_udacity_engagements = daily_engagement_pd[daily_engagement_pd['account_key'].isin(non_udacity_account_keys)]

#non_udacity_submissions = remove_udacity_accounts(project_submissions)
non_udacity_submissions = project_submissions_pd[project_submissions_pd['account_key'].isin(non_udacity_account_keys)]

print non_udacity_enrollments['account_key'].size
print non_udacity_engagements['account_key'].size
print non_udacity_submissions['account_key'].size

1622
135656
3626

In [22]:
non_udacity_account_keys

array([ 700,  429,   60, ..., 1116,  874,  686])

## Refining the Question

In [14]:
#####################################
#                 6                 #
#####################################

## Create a dictionary named paid_students containing all students who either
## haven't canceled yet or who remained enrolled for more than 7 days. The keys
## should be account keys, and the values should be the date the student enrolled.

paid_students = non_udacity_enrollments[(non_udacity_enrollments['days_to_cancel'].isnull() == True) | (non_udacity_enrollments['days_to_cancel'] > 7)]
print "number of students that are enrolled more than 7 days: ", paid_students['account_key'].unique().size

number of students that are enrolled more than 7 days:  995

In [33]:
paid_students_account_keys = np.sort(paid_students['account_key'].unique())
print paid_students_account_keys

[   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14
   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29
   30   31   32   33   34   35   36   37   38   39   40   41   42   43   44
   45   46   47   48   49   50   51   52   53   54   55   56   57   58   59
   60   61   62   63   64   65   66   67   68   69   70   71   72   73   74
   75   76   77   78   79   80   81   82   83   84   85   86   87   88   89
   90   91   92   93   94   96   97   98   99  100  101  102  103  104  105
  106  107  108  109  110  111  112  113  114  115  116  117  118  119  120
  121  122  123  124  125  126  127  128  129  130  131  132  133  134  135
  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150
  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165
  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180
  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195
  196  197  198  199  200  201  202  203  204  205  206  207  208  209  210
  211  212  213  214  215  216  217  218  219  220  221  222  223  224  225
  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240
  241  242  243  244  245  246  248  249  250  251  252  253  254  255  256
  257  258  259  260  261  262  263  264  265  266  267  268  269  270  271
  272  273  274  275  276  277  278  279  280  281  282  283  284  285  286
  287  288  289  290  291  292  293  294  295  296  297  298  299  300  301
  302  303  304  305  306  307  308  309  310  311  313  314  315  316  317
  318  319  320  321  322  323  324  325  326  327  328  329  330  331  332
  333  334  335  336  337  338  339  340  341  342  343  344  345  346  347
  348  349  350  351  352  353  354  355  356  357  358  359  360  361  362
  363  364  365  366  367  368  369  370  371  372  373  374  375  376  377
  378  379  380  381  382  383  384  385  386  387  388  389  390  391  392
  393  394  395  396  397  398  399  400  401  402  403  404  405  406  407
  408  409  410  411  412  413  414  415  416  417  418  419  420  421  422
  423  424  425  426  427  428  429  430  431  432  433  434  435  436  437
  438  439  440  441  442  443  444  445  446  447  449  450  451  452  453
  454  455  456  457  458  459  460  461  462  463  464  465  466  467  468
  469  471  472  473  474  475  476  477  478  479  480  481  482  483  484
  485  486  487  488  489  490  491  492  493  494  495  496  497  498  499
  500  501  502  503  504  505  506  507  508  509  510  511  512  513  514
  515  516  517  518  519  520  521  522  523  524  525  526  527  528  529
  530  531  532  533  534  535  536  537  538  539  540  541  542  543  544
  545  546  547  548  549  550  551  552  553  554  555  556  557  558  559
  560  561  562  563  564  565  566  567  568  569  570  571  572  573  574
  575  576  577  578  579  580  581  582  583  584  585  586  587  588  589
  590  591  592  593  594  595  596  597  598  599  600  601  602  603  604
  605  606  607  608  609  610  611  612  613  614  615  616  617  618  619
  620  621  622  623  624  625  626  627  628  629  630  631  632  633  634
  635  636  637  639  640  641  642  643  644  645  646  647  648  649  650
  651  652  653  655  656  657  660  661  665  666  667  669  670  671  672
  673  674  676  678  682  686  687  689  690  692  693  694  696  697  698
  702  704  705  706  709  710  712  713  715  718  719  720  722  726  729
  730  732  735  736  742  743  744  746  747  748  751  752  753  754  755
  756  757  759  761  762  764  769  771  773  776  777  778  779  780  781
  782  784  785  786  787  791  792  793  794  796  797  798  800  801  804
  805  806  808  811  812  816  822  823  824  825  828  829  831  832  833
  834  835  836  839  840  843  844  846  851  852  853  854  855  856  857
  858  859  864  866  867  868  872  873  874  877  880  882  883  885  887
  888  893  896  897  900  901  905  906  909  912  913  916  918  919  920
  923  924  927  928  931  932  934  937  938  939  940  941  946  948  950
  952  954  955  956  958  965  966  967  969  972  973  975  976  977  979
  983  984  985  986  988  989  990  992 1000 1001 1002 1007 1009 1011 1013
 1014 1015 1019 1022 1028 1029 1030 1031 1032 1033 1036 1038 1040 1042 1048
 1049 1050 1052 1053 1054 1055 1056 1058 1060 1062 1066 1067 1070 1071 1072
 1073 1074 1075 1077 1080 1081 1082 1087 1088 1089 1090 1094 1095 1096 1098
 1099 1102 1103 1107 1110 1111 1113 1115 1117 1118 1121 1123 1124 1128 1130
 1131 1136 1139 1140 1142 1143 1144 1146 1147 1149 1150 1151 1153 1154 1157
 1160 1161 1163 1167 1170 1173 1174 1175 1176 1177 1178 1181 1182 1183 1185
 1188 1189 1194 1198 1199 1200 1201 1202 1204 1205 1206 1207 1208 1209 1210
 1211 1212 1214 1215 1216 1217 1220 1224 1226 1227 1228 1231 1235 1236 1242
 1243 1244 1247 1248 1249 1250 1251 1253 1254 1257 1259 1260 1262 1263 1264
 1265 1266 1267 1268 1269 1274 1276 1277 1278 1282 1285 1287 1289 1290 1292
 1298 1299 1302 1303 1305]

## Getting Data from First Week

In [15]:
# Takes a student's join date and the date of a specific engagement record,
# and returns True if that engagement record happened within one week
# of the student joining.
def within_one_week(join_date, engagement_date):
    time_delta = engagement_date - join_date
    return time_delta.days < 7

In [41]:
#####################################
#                 7                 #
#####################################

## Create a list of rows from the engagement table including only rows where
## the student is one of the paid students you just found, and the date is within
## one week of the student's join date.

#paid_engagement_in_first_week = 

non_udacity_engagements[non_udacity_engagements['account_key'].isin(paid_students_account_keys)]
#paid_students['join_date']
#non_udacity_engagements['utc_date']

,account_key,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1.0,11.679374,0.0,0.0
1,0,2015-01-10,2.0,37.284887,0.0,0.0
2,0,2015-01-11,2.0,53.633746,0.0,0.0
3,0,2015-01-12,1.0,33.489270,0.0,0.0
4,0,2015-01-13,1.0,64.779678,0.0,0.0
5,0,2015-01-14,1.0,151.617577,1.0,0.0
6,0,2015-01-15,1.0,142.395964,0.0,0.0
7,0,2015-01-16,0.0,0.000000,0.0,0.0
8,0,2015-01-17,1.0,9.849562,0.0,0.0
9,0,2015-01-18,1.0,38.330548,0.0,0.0
10,0,2015-01-19,1.0,98.327568,1.0,0.0
11,0,2015-01-20,0.0,0.000000,0.0,0.0
12,0,2015-01-21,0.0,0.000000,0.0,0.0
13,0,2015-01-22,1.0,218.309690,1.0,0.0
14,0,2015-01-23,1.0,280.773319,1.0,0.0
15,0,2015-01-24,1.0,32.276020,0.0,0.0
16,0,2015-01-25,1.0,65.467882,0.0,0.0
17,0,2015-01-26,1.0,74.806089,1.0,0.0
18,0,2015-01-27,1.0,199.501050,1.0,0.0
19,0,2015-01-28,1.0,55.234959,0.0,0.0
20,0,2015-01-29,1.0,212.645669,1.0,0.0
21,0,2015-01-30,1.0,96.003719,1.0,0.0
22,0,2015-01-31,1.0,94.333214,0.0,0.0
23,0,2015-02-01,1.0,40.564986,1.0,0.0
24,0,2015-02-02,2.0,75.525712,0.0,0.0
25,0,2015-02-03,1.0,147.728229,0.0,0.0
26,0,2015-02-04,1.0,38.529970,1.0,0.0
27,0,2015-02-05,2.0,84.956534,0.0,0.0
28,0,2015-02-06,1.0,101.378330,1.0,0.0
29,0,2015-02-07,1.0,104.065235,1.0,0.0
...,...,...,...,...,...,...
136210,1305,2015-05-20,1.0,10.074227,0.0,0.0
136211,1305,2015-05-21,0.0,0.000000,0.0,0.0
136212,1305,2015-05-22,0.0,0.000000,0.0,0.0
136213,1305,2015-05-23,0.0,0.000000,0.0,0.0
136214,1305,2015-05-24,0.0,0.000000,0.0,0.0
136215,1305,2015-05-25,0.0,0.000000,0.0,0.0
136216,1305,2015-05-26,0.0,0.000000,0.0,0.0
136217,1305,2015-05-27,0.0,0.000000,0.0,0.0
136218,1305,2015-05-28,0.0,0.000000,0.0,0.0
136219,1305,2015-05-29,0.0,0.000000,0.0,0.0
136220,1305,2015-05-30,0.0,0.000000,0.0,0.0
136221,1305,2015-05-31,0.0,0.000000,0.0,0.0
136222,1305,2015-06-01,0.0,0.000000,0.0,0.0
136223,1305,2015-06-02,0.0,0.000000,0.0,0.0
136224,1305,2015-06-03,0.0,0.000000,0.0,0.0
136225,1305,2015-06-04,0.0,0.000000,0.0,0.0
136226,1305,2015-06-05,0.0,0.000000,0.0,0.0
136227,1305,2015-06-06,0.0,0.000000,0.0,0.0
136228,1305,2015-06-07,0.0,0.000000,0.0,0.0
136229,1305,2015-06-08,0.0,0.000000,0.0,0.0
136230,1305,2015-06-09,0.0,0.000000,0.0,0.0
136231,1305,2015-06-10,0.0,0.000000,0.0,0.0
136232,1305,2015-06-11,0.0,0.000000,0.0,0.0
136233,1305,2015-06-12,0.0,0.000000,0.0,0.0
136234,1305,2015-06-13,0.0,0.000000,0.0,0.0
136235,1305,2015-06-14,0.0,0.000000,0.0,0.0
136236,1305,2015-06-15,0.0,0.000000,0.0,0.0
136237,1305,2015-06-16,1.0,2.720136,0.0,0.0
136238,1305,2015-06-17,0.0,0.000000,0.0,0.0
136239,1305,2015-06-18,0.0,0.000000,0.0,0.0

## Exploring Student Engagement

In [ ]:
from collections import defaultdict

# Create a dictionary of engagement grouped by student.
# The keys are account keys, and the values are lists of engagement records.
engagement_by_account = defaultdict(list)
for engagement_record in paid_engagement_in_first_week:
    account_key = engagement_record['account_key']
    engagement_by_account[account_key].append(engagement_record)

In [ ]:
# Create a dictionary with the total minutes each student spent in the classroom during the first week.
# The keys are account keys, and the values are numbers (total minutes)
total_minutes_by_account = {}
for account_key, engagement_for_student in engagement_by_account.items():
    total_minutes = 0
    for engagement_record in engagement_for_student:
        total_minutes += engagement_record['total_minutes_visited']
    total_minutes_by_account[account_key] = total_minutes

In [ ]:
import numpy as np

# Summarize the data about minutes spent in the classroom
total_minutes = total_minutes_by_account.values()
print 'Mean:', np.mean(total_minutes)
print 'Standard deviation:', np.std(total_minutes)
print 'Minimum:', np.min(total_minutes)
print 'Maximum:', np.max(total_minutes)

## Debugging Data Analysis Code

In [ ]:
#####################################
#                 8                 #
#####################################

## Go through a similar process as before to see if there is a problem.
## Locate at least one surprising piece of data, output it, and take a look at it.

## Lessons Completed in First Week

In [ ]:
#####################################
#                 9                 #
#####################################

## Adapt the code above to find the mean, standard deviation, minimum, and maximum for
## the number of lessons completed by each student during the first week. Try creating
## one or more functions to re-use the code above.

## Number of Visits in First Week

In [ ]:
######################################
#                 10                 #
######################################

## Find the mean, standard deviation, minimum, and maximum for the number of
## days each student visits the classroom during the first week.

## Splitting out Passing Students

In [ ]:
######################################
#                 11                 #
######################################

## Create two lists of engagement data for paid students in the first week.
## The first list should contain data for students who eventually pass the
## subway project, and the second list should contain data for students
## who do not.

subway_project_lesson_keys = ['746169184', '3176718735']

passing_engagement =
non_passing_engagement =

## Comparing the Two Student Groups

In [ ]:
######################################
#                 12                 #
######################################

## Compute some metrics you're interested in and see how they differ for
## students who pass the subway project vs. students who don't. A good
## starting point would be the metrics we looked at earlier (minutes spent
## in the classroom, lessons completed, and days visited).

## Making Histograms

In [ ]:
######################################
#                 13                 #
######################################

## Make histograms of the three metrics we looked at earlier for both
## students who passed the subway project and students who didn't. You
## might also want to make histograms of any other metrics you examined.

## Improving Plots and Sharing Findings

In [ ]:
######################################
#                 14                 #
######################################

## Make a more polished version of at least one of your visualizations
## from earlier. Try importing the seaborn library to make the visualization
## look better, adding axis labels and a title, and changing one or more
## arguments to the hist() function.